<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnasistencias.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_attendance}"/>
	
	<excel 
		recordset='query-smnasistencias.sql' 
		sheetname='${lbl:b_attendance}' 
		filename='${lbl:b_attendance}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='asi_id_control_acceso' label='${lbl:b_id_access_control}' />
		<col id='cla_nombre' label='${lbl:b_auxiliary_class}' />
		<col id='smn_item' label='${lbl:b_auxiliary}' />
		<col id='asi_fecha' label='${lbl:s_loginhist_col1}' />
		<col id='tur_nombre' label='${lbl:b_turnos}' />
		<col id='asi_estatus_asistencia_rf' label='${lbl:b_status}' />
		<col id='asi_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
