<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnjustificacionessoporte.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnjustificacionessoporte.sql' sheetname='${lbl:b_load_justific_file}' filename='soporte.xls'>
		<col id='jus_estatus_rf_pl0' label='${lbl:b_justifications}' />
		<col id='jsa_persona_rf' label='${lbl:b_personal}' />
		<col id='jsa_archivo' label='${lbl:b_file}' />
		<col id='jsa_contenido' label='${lbl:b_content}' />
		<col id='jsa_tamano' label='${lbl:b_size}' />
		<col id='jsa_idioma' label='${lbl:s_profile_lang}' />
		<col id='jsa_usuario' label='${lbl:b_users}' />
		<col id='jsa_fecha_registro' label='${lbl:b_store_date}' />
		<col id='jsa_hora' label='${lbl:s_loginhist_col2}' />
	</excel>

</config>
