<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>


	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>mrk_marcaje_fecha_ini</colname>
			<colname>mrk_marcaje_fecha_fin</colname>
			<colname>mrk_empresa_rf</colname>
			<colname>mrk_sucursal_rf</colname>
		
		</cols>
		<table>smn_control_acceso.smn_mov_marcajes</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnmovmarcajes.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovmarcajes.sql" source="session" scope="session">
			<recordset id="query-smnmovmarcajeshist.sql" source="sql" />

		</recordset>		
		<!--<recordset id="gran-total.sql" source="sql" scope="session"/>-->
	</transaction>
	
	<searchCols id="query-smnmovmarcajes.sql">mrk_marcaje_fecha_ini;mrk_marcaje_fecha_fin;mrk_empresa_rf;mrk_sucursal_rf;</searchCols>

	<on-exit return-code="0" forward-to="${def:actionroot}/view" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
