<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="viewchart.filter" source="session" scope="transaction" />
		<recordset id="query-detail.sql" source="session" scope="transaction" />
		<recordset id="item.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>${lbl:b_transactions_denormalize}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />
	
	<pdf-report pageSize="letter" rotate="false">
		<record recordset='item.sql' title='Detalle' width='40' spacingBefore='20'>
			<col name='descripcion' title='Estatus'  align='center' />
		</record>
		<table recordset='query-detail.sql' width='60' spacingBefore='10' >
			<col name='descripcion' title='Estatus' width='100' align='left' />
		</table>

	</pdf-report>

</config>