<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovmarcajes.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_marking_movement}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_marking_movement}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnmovmarcajes.sql' width='100' spacingBefore='40'>
			<col name='smn_entidad_rf' title='${lbl:b_entity}' width='12' align='left'  />
			<col name='smn_sucursal_rf' title='${lbl:b_subsidiary} ' width='12' align='left' />
			<col name='nombre' title='${lbl:b_name}' width='12' align='left'  />
			<col name='smn_cargo_rf' title='${lbl:b_positions}' width='12' align='left'  />
			<col name='departamento' title='Departamento' width='12' align='left'  />
			<col name='dispositivo' title='${lbl:b_device}' width='12' align='left'  />
			<col name='hora_transaccion' title='${lbl:b_transaction_time}' width='12' align='left'  />
			<col name='fecha_transaccion' title='${lbl:b_transaction_date}' width='12' align='left' format='dd-MM-yyyy'  />
			<col name='mrk_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
