<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpermisossoporte.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnpermisossoporte.sql' sheetname='${lbl:b_load_permission_file}' filename='soporte.xls'>
		<col id='spe_estatus_rf_pl0' label='${lbl:b_requests_permissions}' />
		<col id='pma_persona_ref_combo' label='${lbl:b_personal}' />
		<col id='pma_archivo' label='${lbl:b_file}' />
		<col id='pma_contenido' label='${lbl:b_content}' />
		<col id='pma_tamano' label='${lbl:b_size}' />
		<col id='pma_idioma' label='${lbl:s_profile_lang}' />
		<col id='pma_usuario' label='${lbl:b_users}' />
		<col id='pma_fecha_registro' label='${lbl:b_store_date}' />
		<col id='pma_hora' label='${lbl:s_loginhist_col2}' />
	</excel>

</config>