<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width="3%"/>
	<col width="3%"/>
	<col width="3%"/>
	<col width="3%"/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>

	<!--toolbar-->
	<tr>
		<th colspan="13">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th colspan="4"></th>
		<th class='sortable' onclick="sortBy('spe_estatus_rf_pl0','query-smnpermisossoporte.sql')" >${lbl:b_requests_permissions}</th>
		<th class='sortable' onclick="sortBy('pma_persona_ref_combo','query-smnpermisossoporte.sql')" >${lbl:b_personal}</th>
		<th class='sortable' onclick="sortBy('pma_archivo','query-smnpermisossoporte.sql')" >${lbl:b_file}</th>
		<th class='sortable' onclick="sortBy('pma_contenido','query-smnpermisossoporte.sql')" >${lbl:b_content}</th>
		<th class='sortable' onclick="sortBy('pma_tamano','query-smnpermisossoporte.sql')" >${lbl:b_size}</th>
		<th class='sortable' onclick="sortBy('pma_idioma','query-smnpermisossoporte.sql')" >${lbl:s_profile_lang}</th>
		<th class='sortable' onclick="sortBy('pma_usuario','query-smnpermisossoporte.sql')" >${lbl:b_users}</th>
		<th class='sortable' onclick="sortBy('pma_fecha_registro','query-smnpermisossoporte.sql')" >${lbl:b_store_date}</th>
		<th class='sortable' onclick="sortBy('pma_hora','query-smnpermisossoporte.sql')" >${lbl:s_loginhist_col2}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/download.png" onclick="downloadBlob('${fld:smn_permisos_soporte_id}')" title="Descargar" ></td>
		<td><img src="${def:context}/images/search.png" onclick="getImage('${fld:smn_permisos_soporte_id}', '${fld:pma_contenido}')" title="Ver documento" ></td>
		<td><img src="${def:context}/images/delete.png" onclick="deleteRecord('${fld:smn_permisos_soporte_id}')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png" onclick="edit('${fld:smn_permisos_soporte_id}')" title="Editar"></td>
		<td>${fld:spe_estatus_rf_pl0}</td>
		<td>${fld:pma_persona_ref_combo}</td>
		<td align="left">${fld:pma_archivo}</td>
		<td align="left">${fld:pma_contenido}</td>
		<td align="center">${fld:pma_tamano}</td>
		<td align="left">${fld:pma_idioma}</td>
		<td align="left">${fld:pma_usuario}</td>
		<td align="center">${fld:pma_fecha_registro@dd-MM-yyyy}</td>
		<td align="left">${fld:pma_hora}</td>
	</tr>
	</rows>

</table>