<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncontrolplanasistencia.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_control_plan_asistency}"/>
	
	<excel 
		recordset='query-smncontrolplanasistencia.sql' 
		sheetname='${lbl:b_control_plan_asistency}' 
		filename='${lbl:b_control_plan_asistency}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_empresa_rf' label='${lbl:b_entity}' />
		<col id='smn_sucursal_rf' label='${lbl:b_subsidiary}' />
		<col id='smn_estructura_organizacional_rf' label='${lbl:b_organizational_structure}' />
		<col id='smn_personal_id' label='${lbl:b_personal}' />
		<col id='cpa_ano ' label='${lbl:b_year}' />
		<col id='cpa_status' label='${lbl:b_status}' />
		<col id='cpa_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
