<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnasistencia.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>Listado de Asistencia</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>Listado de Asistencia.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_empresa_rf' title='${lbl:b_company}'  format='######' align='left' />
			<col name='smn_sucursal_rf' title='${lbl:b_subsidiary}'  format='######' align='left' />
			<col name='smn_estructura_organizacional_rf' title='${lbl:b_organizacional_structure}'  format='######' align='left' />
			<col name='smn_plan_asistencia_id' title='${lbl:b_planned_assistance}'  format='######' align='left' />
			<col name='asi_personal_rf' title='${lbl:b_personal}'  format='######' align='left' />
			<col name='asi_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='asi_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnasistencia.sql' width='100' spacingBefore='10'>
			<col name='asi_personal_rf' title='${lbl:b_personal}' width='6' align='left' format='######' />
<col name='cedula' title='Cedula' width='6' align='left' format='######' />
			<col name='fecha' title='Fecha' width='6' align='left' format='dd-MM-yyyy' />
			<col name='tipo_movimiento' title='Tipo Movimiento' width='6' align='left' format='######' />
			<col name='hora_tope_evento' title='Hora Tope Evento' width='6' align='left' format='######' />
			<col name='hora_marcaje' title='Hora Marcaje' width='6' align='left' format='######' />
			<col name='smn_categoria_justificacion_rf' title='Permiso' width='6' align='left' format='######' />
			<col name='justificacion' title='${lbl:b_justification}' width='6' align='left' format='######' />
			<col name='asi_fecha_registro' title='${lbl:b_store_date}' width='6' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
