<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpersonal.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_personal}"/>
	
	<excel 
		recordset='query-smnpersonal.sql' 
		sheetname='${lbl:b_personal}' 
		filename='${lbl:b_personal}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_auxiliar' label='${lbl:b_auxiliary}' />
		<col id='aux_num_doc_oficial' label='Cedula' />
		<col id='ent_descripcion_corta' label='${lbl:b_entity}' />
		<col id='suc_nombre' label='${lbl:b_subsidiary}' />
		<col id='job_nombre' label='${lbl:b_positions}' />
		<col id='psl_habilita_acceso_rf' label='${lbl:b_enables_access_control}' />
		<col id='psl_id_control_acceso' label='${lbl:b_id_access_control}' />
		<col id='psl_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>
