<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpersonal.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_personal_bd}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_personal_bd}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnpersonal.sql' width='100' spacingBefore='40'>
			<col name='psl_num_control' title='${lbl:b_number_of_control}' width='6' align='left' />
			<col name='psl_esquema_rotacion_rf' title='${lbl:b_rotation_scheme}' width='6' align='left'  />
			<col name='psl_fecha_inicio_calculo' title='${lbl:b_start_date_calculus}' width='6' align='left' format='dd-MM-yyyy' />
			<col name='cap_nombre' title='${lbl:b_personal_category}' width='6' align='left'  />
			<col name='cla_nombre' title='${lbl:b_auxiliary_class}' width='6' align='left'  />
			<col name='smn_item' title='${lbl:b_auxiliary}' width='6' align='left'  />
			<col name='ent_descripcion_corta' title='${lbl:b_entity}' width='6' align='left'  />
			<col name='suc_nombre' title='${lbl:b_subsidiary}' width='6' align='left'  />
			<col name='ase_descripcion' title='${lbl:b_service_area}' width='6' align='left'  />
			<col name='uns_descripcion' title='${lbl:b_service_unit}' width='6' align='left'  />
			<col name='cco_descripcion_corta' title='${lbl:b_cost_lefts}' width='6' align='left'  />
			<col name='eor_nombre' title='${lbl:b_organizational_structure}' width='6' align='left'  />
			<col name='job_nombre' title='${lbl:b_positions}' width='6' align='left'  />
			<col name='cac_nombre' title='${lbl:b_position_category}' width='6' align='left'  />
			<col name='psl_habilita_acceso_rf' title='${lbl:b_enables_access_control}' width='6' align='left' />
			<col name='psl_id_control_acceso' title='${lbl:b_id_access_control}' width='6' align='left' />

		</record>

	</pdf-report>
</config>
