<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="total" source="total" params="query-viewchart.sql" totalCols="subtotal" scope="session" /> 
	</transaction>
	
	<searchCols id="query-viewchart.sql">trd_sede;trd_dispositivo;trd_identificacion;trd_status;trd_fecha_registro_ini;trd_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="${def:actionroot}/view" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
