<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='14%'/>
	<col width='20%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='34%'/>


	<!--toolbar-->
	<tr>
		<th colspan="5">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick="sortBy('trd_sede','query-detail.sql')" >Sede</th>
		<th class='sortable' onclick="sortBy('trd_dispositivo','query-detail.sql')" >N° Dispositivo</th>
		<th class='sortable' onclick="sortBy('trd_identificacion','query-detail.sql')" >ID Usuario</th>
		<th class='sortable' onclick="sortBy('trd_tiempo_efectivo_total','query-detail.sql')" >Tiempo Efectivo</th>
		<th class='sortable' onclick="sortBy('status','query-detail.sql')" >Estatus</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align="left">${fld:trd_sede}</td>
		<td align="center">${fld:trd_dispositivo}</td>
		<td align="center">${fld:trd_identificacion}</td>
		<td align="center">${fld:trd_tiempo_efectivo_total@#,###,##0.00}</td>
		<td align="center">${fld:status}</td>
	</tr>
	</rows>
	
		<tr>
		<td align="right" colspan="4"><b>Total</b></td>
		<td align="right">${fld:trd_tiempo_efectivo_total@#,###,##0.00}</td>
	</tr>

</table>