<?xml version="1.0" encoding="ISO-8859-1"?>
<config nodb="false">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpersonal-template.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnestructuraorganizacional.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnsucursales.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnareasservicios.sql" source="sql" scope="transaction"/>
		<recordset id="query-smncategoriapersonal.sql" source="sql" scope="transaction"/>
		<recordset id="query-smncategoriacargos.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnvauxiliar.sql" source="sql" scope="transaction"/>
		<recordset id="query-smncentrocosto.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnesquemarotacion.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnunidadesservicios.sql" source="sql" scope="transaction"/>
		<recordset id="query-pslhabilitaaccesorf.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnclaseauxiliar.sql" source="sql" scope="transaction"/>
		<recordset id="query-smnentidades.sql" source="sql" scope="transaction"/>
		<recordset id="query-smncargos.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>smn_domain.smn_registro.smn_personal.importexcel.excel.template.ExcelReportOutput</classname>
	</output>
		
	<excel 
		filename="${lbl:b_personal}.xls" 
		header-background="true">
		
	<sheet 
		recordset="query-smnpersonal-template.sql" 
		sheetname="${lbl:b_personal}">
		
		<col id="psl_num_control" label="${lbl:b_number_of_control}"/>
		<col id="psl_esquema_rotacion_rf" label="${lbl:b_rotation_scheme}"/>
		<col id="psl_fecha_inicio_calculo" label="${lbl:b_start_date_calculus}"/>
		<col id="psl_categoria_personal_rf" label="${lbl:b_personal_category}"/>
		<col id="psl_clase_auxiliar_rf" label="${lbl:b_auxiliary_class}"/>
		<col id="psl_auxiliar_rf" label="${lbl:b_auxiliary}"/>
		<col id="psl_empresa_rf" label="${lbl:b_entity}"/>
		<col id="psl_sucursal_rf" label="${lbl:b_subsidiary}"/>
		<col id="psl_area_servicio_rf" label="${lbl:b_service_area}"/>
		<col id="psl_unidad_servicio_rf" label="${lbl:b_service_unit}"/>
		<col id="psl_centro_costo_rf" label="${lbl:b_cost_centers}"/>		
		<col id="psl_estructura_organizacional_rf" label="${lbl:b_organizational_structure}"/>
		<col id="psl_cargo_rf" label="${lbl:b_positions}"/>		
		<col id="psl_categoria_cargo_rf" label="${lbl:b_position_category}"/>
		<col id="psl_habilita_acceso_rf" label="${lbl:b_enables_access_control}"/>
		<col id="psl_id_control_acceso" label="${lbl:b_id_access_control}"/>
		
		<col id="psl_esquema_rotacion_rf_reference" label="${lbl:b_rotation_scheme}"/>
		<col id="psl_categoria_personal_rf_reference" label="${lbl:b_personal_category}"/>
		<col id="psl_clase_auxiliar_rf_reference" label="${lbl:b_auxiliary_class}"/>
		<col id="psl_auxiliar_rf_reference" label="${lbl:b_auxiliary}"/>		
		<col id="psl_empresa_rf_reference" label="${lbl:b_entity}"/>
		<col id="psl_sucursal_rf_reference" label="${lbl:b_subsidiary}"/>
		<col id="psl_area_servicio_rf_reference" label="${lbl:b_service_area}"/>
		<col id="psl_unidad_servicio_rf_reference" label="${lbl:b_service_unit}"/>		
		<col id="psl_centro_costo_rf_reference" label="${lbl:b_cost_centers}"/>		
		<col id="psl_estructura_organizacional_rf_reference" label="${lbl:b_organizational_structure}"/>
		<col id="psl_cargo_rf_reference" label="${lbl:b_positions}"/>	
		<col id="psl_categoria_cargo_rf_reference" label="${lbl:b_position_category}"/>
		<col id="psl_habilita_acceso_rf_reference" label="${lbl:b_enables_access_control}"/>
	</sheet>
	
	<sheet recordset="query-smnesquemarotacion.sql" sheetname="${lbl:b_rotation_scheme}">
		<col id="ero_nombre" label="${lbl:b_rotation_scheme}"/>
	</sheet>
	
	<sheet recordset="query-smncategoriapersonal.sql" sheetname="${lbl:b_personal_category}">
		<col id="cap_nombre" label="${lbl:b_personal_category}"/>
	</sheet>
	
	<sheet recordset="query-smnclaseauxiliar.sql" sheetname="${lbl:b_auxiliary_class}">
		<col id="cla_nombre" label="${lbl:b_auxiliary_class}"/>
	</sheet>
		
	<sheet recordset="query-smnvauxiliar.sql" sheetname="${lbl:b_auxiliary}">
		<col id="smn_item" label="${lbl:b_auxiliary}"/>
	</sheet>
	
	<sheet recordset="query-smnentidades.sql" sheetname="${lbl:b_entity}">
		<col id="ent_descripcion_corta" label="${lbl:b_entity}"/>
	</sheet>
	
	<sheet recordset="query-smnsucursales.sql" sheetname="${lbl:b_subsidiary}">
		<col id="suc_nombre" label="${lbl:b_subsidiary}"/>
	</sheet>
	
	<sheet recordset="query-smnareasservicios.sql" sheetname="${lbl:b_service_area}">
		<col id="ase_descripcion" label="${lbl:b_service_area}"/>
	</sheet>
	
	<sheet recordset="query-smnunidadesservicios.sql" sheetname="${lbl:b_service_unit}">
		<col id="uns_descripcion" label="${lbl:b_service_unit}"/>
	</sheet>
	
	<sheet recordset="query-smncentrocosto.sql" sheetname="${lbl:b_cost_centers}">
		<col id="cco_descripcion_corta" label="${lbl:b_cost_centers}"/>
	</sheet>	
	
	<sheet recordset="query-smnestructuraorganizacional.sql" sheetname="${lbl:b_organizational_structure}">
		<col id="eor_nombre" label="${lbl:b_organizational_structure}"/>
	</sheet>
	
	<sheet recordset="query-smncargos.sql" sheetname="${lbl:b_positions}">
		<col id="job_nombre" label="${lbl:b_positions}"/>
	</sheet>
		
	<sheet recordset="query-smncategoriacargos.sql" sheetname="${lbl:b_position_category}">
		<col id="cac_nombre" label="${lbl:b_position_category}"/>
	</sheet>
	
	<sheet recordset="query-pslhabilitaaccesorf.sql" sheetname="${lbl:b_enables_access_control}">
		<col id="habilita_acceso_rf" label="${lbl:b_enables_access_control}"/>
	</sheet>
	
	</excel>

</config>