<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpersonal.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_personal_bd}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_personal_bd}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='psl_num_control' title='${lbl:b_number_of_control}'  align='left' />
			<col name='psl_esquema_rotacion_rf' title='${lbl:b_rotation_scheme}'   align='left' />
			<col name='psl_fecha_inicio_calculo_ini' title='${lbl:b_start_date_calculus}'  format='dd-MM-yyyy' align='left' />
			<col name='psl_fecha_inicio_calculo_fin' title='${lbl:b_start_date_calculus}'  format='dd-MM-yyyy' align='left' />
			<col name='psl_categoria_personal_rf' title='${lbl:b_personal_category}'   align='left' />
			<col name='cla_nombre' title='${lbl:b_auxiliary_class}'   align='left' />
			<col name='smn_item' title='${lbl:b_auxiliary}'   align='left' />
			<col name='ent_descripcion_corta' title='${lbl:b_entity}'   align='left' />
			<col name='suc_nombre' title='${lbl:b_subsidiary}'   align='left' />
			<col name='ase_descripcion' title='${lbl:b_service_area}'   align='left' />
			<col name='uns_descripcion' title='${lbl:b_service_unit}'   align='left' />
			<col name='cco_descripcion_corta' title='${lbl:b_cost_lefts}'   align='left' />
			<col name='eor_nombre' title='${lbl:b_organizational_structure}'   align='left' />
			<col name='job_nombre' title='${lbl:b_positions}'   align='left' />
			<col name='cac_nombre' title='${lbl:b_position_category}'   align='left' />
			<col name='psl_habilita_acceso_rf' title='${lbl:b_enables_access_control}'  align='left' />
			<col name='psl_id_control_acceso' title='${lbl:b_id_access_control}'  align='left' />
			<col name='psl_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='psl_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnpersonal.sql' width='100' spacingBefore='10'>
			<col name='psl_num_control' title='${lbl:b_number_of_control}' width='5' align='left' />
			<col name='psl_esquema_rotacion_rf' title='${lbl:b_rotation_scheme}' width='5' align='left'  />
			<col name='psl_fecha_inicio_calculo' title='${lbl:b_start_date_calculus}' width='5' align='left' format='dd-MM-yyyy' />
			<col name='cap_nombre' title='${lbl:b_personal_category}' width='5' align='left'  />
			<col name='cla_nombre' title='${lbl:b_auxiliary_class}' width='5' align='left'  />
			<col name='smn_item' title='${lbl:b_auxiliary}' width='5' align='left'  />
			<col name='ent_descripcion_corta' title='${lbl:b_entity}' width='5' align='left'  />
			<col name='suc_nombre' title='${lbl:b_subsidiary}' width='5' align='left'  />
			<col name='ase_descripcion' title='${lbl:b_service_area}' width='5' align='left'  />
			<col name='uns_descripcion' title='${lbl:b_service_unit}' width='5' align='left'  />
			<col name='cco_descripcion_corta' title='${lbl:b_cost_lefts}' width='5' align='left'  />
			<col name='eor_nombre' title='${lbl:b_organizational_structure}' width='5' align='left'  />
			<col name='job_nombre' title='${lbl:b_positions}' width='5' align='left'  />
			<col name='cac_nombre' title='${lbl:b_position_category}' width='5' align='left'  />
			<col name='psl_habilita_acceso_rf' title='${lbl:b_enables_access_control}' width='5' align='left' />
			<col name='psl_id_control_acceso' title='${lbl:b_id_access_control}' width='5' align='left' />
			<col name='psl_idioma' title='${lbl:s_profile_lang}' width='5' align='left' />
			<col name='psl_usuario' title='${lbl:b_users}' width='5' align='left' />
			<col name='psl_fecha_registro' title='${lbl:b_store_date}' width='5' align='left' format='dd-MM-yyyy' />
			<col name='psl_hora' title='${lbl:s_loginhist_col2}' width='5' align='left' />

		</record>

	</pdf-report>
</config>
