<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smntransacciones.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_clase_auxiliar_rf</colname>
			<colname>smn_auxiliar_rf</colname>
			<colname>trn_identificacion</colname>
			<colname>trn_fecha_transaccion_ini</colname>
			<colname>trn_fecha_transaccion_fin</colname>
			<colname>trn_hora_transaccion_ini</colname>
			<colname>trn_hora_transaccion_fin</colname>
			<colname>smn_dispositivos_rf</colname>
			<colname>trn_tipo_transaccion</colname>
	
		
		</cols>
		<table>smn_control_acceso.smn_transacciones</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smntransacciones.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_clase_auxiliar_rf;smn_auxiliar_rf;trn_identificacion;trn_fecha_transaccion_ini;trn_fecha_transaccion_fin;trn_hora_transaccion_ini;trn_hora_transaccion_fin;smn_dispositivos_rf;
trn_tipo_transaccion</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
