<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<!-- <col width='3%'/>
	<col width='3%'/> -->
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
		<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<!-- <th></th>
		<th></th> -->
		<th class='sortable' onclick='sortBy("smn_auxiliar","query-smnpersonal.sql")'>${lbl:b_auxiliary}</th>
		<th class='sortable' onclick='sortBy("aux_num_doc_oficial","query-smnpersonal.sql")'>Cedula</th>
		<th class='sortable' onclick='sortBy("ent_descripcion_corta","query-smnpersonal.sql")'>${lbl:b_entity}</th>
		<th class='sortable' onclick='sortBy("suc_nombre","query-smnpersonal.sql")'>${lbl:b_subsidiary}</th>
		<th class='sortable' onclick='sortBy("eor_nombre","query-smnpersonal.sql")'>Departamento</th>
		<th class='sortable' onclick='sortBy("job_nombre","query-smnpersonal.sql")'>${lbl:b_positions}</th>
		<th class='sortable' onclick='sortBy("psl_habilita_acceso_rf","query-smnpersonal.sql")'>${lbl:b_enables_access_control}</th>
		<th class='sortable' onclick='sortBy("psl_id_control_acceso","query-smnpersonal.sql")'>${lbl:b_id_access_control}</th>
		<th class='sortable' onclick='sortBy("psl_fecha_registro","query-smnpersonal.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_personal_id}')" title="${lbl:b_view_detail}"></td>
	<!-- 	<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_personal_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_personal_id}')" title="${lbl:b_edit_button}"></td> -->
		<td align='left'>${fld:smn_auxiliar}</td>
		<td align='center'>${fld:aux_num_doc_oficial}</td>
		<td align='left'>${fld:ent_descripcion_corta}</td>
		<td align='left'>${fld:suc_nombre}</td>
		<td align='left'>${fld:eor_nombre}</td>
		<td align='left'>${fld:job_nombre}</td>
		<td>${fld:psl_habilita_acceso_rf}</td>
		<td align='left'>${fld:psl_id_control_acceso}</td>
		<td>${fld:psl_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
