<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovmarcajes.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
		<!--<recordset id='gran-total.sql' source='session' scope='transaction' />-->
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_marking_movement}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='mrk_marcaje_fecha_ini' title='${lbl:b_transaction_date}'  format='dd-MM-yyyy' align='center' />
			<col name='mrk_marcaje_fecha_fin' title='${lbl:b_transaction_date}'  format='dd-MM-yyyy' align='center' />
			<col name='mrk_empresa_rf' title='${lbl:b_entity}'  format='######' align='center' />
			<col name='mrk_sucursal_rf' title='${lbl:b_subsidiary}'  format='######' align='center' />
		</record>
		<record recordset='query-smnmovmarcajes.sql' width='70' spacingBefore='15'>
			<col name='mrk_auxiliar_rf' title='${lbl:b_auxiliary}' format='#,###,##0' align='center' />
			<col name='mrk_marcaje_fecha' title='${lbl:b_transaction_date}' align='center' />
			<col name='hora_entrada' title='Hora Entrada' align='center' />
			<col name='hora_salida' title='Hora Salida' align='center' />
			<col name='horas_efectivas' title='Horas Efectivas' align='center' />
			<!--<col name='mrk_marcaje_tipo_rf_combo' title='${lbl:b_device_type}' align='center' />
			<table recordset='query-smnmovmarcajeshist.sql' width='70' spacingBefore='10' title='${lbl:b_marking_movement}'>
				<col name='mrk_auxiliar_rf' title='${lbl:b_auxiliary}' width='25' align='center' format='#,###,##0' />
				<col name='mrk_marcaje_fecha' title='${lbl:b_transaction_date}' width='25' align='center' />
				<col name='mrk_marcaje_hora' title='${lbl:b_transaction_time}' width='25' align='left' />
				<col name='mrk_marcaje_tipo_rf_combo' title='${lbl:b_device_type}' width='25' align='left' />
			</table>-->

		</record>

		<!--<record recordset='gran-total.sql' width='70' spacingBefore='15'>
			<col name='gran_total' title='GRAN TOTAL' format='#,###,##0.00' align='right' />
		</record>-->


	</pdf-report>
</config>