<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnvisitantes.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_visitor_income}"/>
	
	<excel 
		recordset='query-smnvisitantes.sql' 
		sheetname='${lbl:b_visitor_income}' 
		filename='${lbl:b_visitor_income}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_entidad_rf' label='${lbl:b_entity}' />
		<col id='smn_sucursal_rf' label='${lbl:b_subsidiary}' />
		<col id='smn_estructura_organizativa_rf' label='${lbl:b_organizational_structure}' />
		<col id='smn_tipo_documento_identidad_rf' label='${lbl:b_type_identity_document}' />
		<col id='vis_documento_identidad' label='${lbl:b_identity_document}' />
		<col id='vis_nombre' label='${lbl:b_first_name}' />
		<col id='vis_apellido' label='${lbl:b_last_name}' />
		<col id='smn_numero_carnet_asignado_id' label='${lbl:b_assigned_card_number}' />
		<col id='vis_hora_entrada' label='${lbl:b_entry_time}' />
		<col id='vis_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
