<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_personal}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='query.sql' title='${lbl:b_personal}' width='60' spacingBefore='40'>
			<col name='psl_num_control' title='${lbl:b_number_of_control}' align='left' />
			<col name='psl_esquema_rotacion_rf_combo' title='${lbl:b_rotation_scheme}' align='left' format='######' />
			<col name='psl_fecha_inicio_calculo' title='${fld:b_start_date_calculus}' align='left' format='dd-MM-yyyy' />
			<col name='psl_categoria_personal_rf_combo' title='${lbl:b_personal_category}' align='left' format='######' />
			<col name='psl_clase_auxiliar_rf_combo' title='${lbl:b_auxiliary_class}' align='left' format='######' />
			<col name='psl_auxiliar_rf_combo' title='${lbl:b_auxiliary}' align='left' format='######' />
			<col name='psl_empresa_rf_combo' title='${lbl:b_entity}' align='left' format='######' />
			<col name='psl_sucursal_rf_combo' title='${lbl:b_subsidiary}' align='left' format='######' />
			<col name='psl_area_servicio_rf_combo' title='${lbl:b_service_area}' align='left' format='######' />
			<col name='psl_unidad_servicio_rf_combo' title='${lbl:b_service_unit}' align='left' format='######' />
			<col name='psl_centro_costo_rf_combo' title='${lbl:b_cost_centers}' align='left' format='######' />
			<col name='psl_estructura_organizacional_rf_combo' title='${lbl:b_organizational_structure}' align='left' format='######' />
			<col name='psl_cargo_rf_combo' title='${lbl:b_positions}' align='left' format='######' />
			<col name='psl_categoria_cargo_rf_combo' title='${lbl:b_position_category}' align='left' format='######' />
			<col name='psl_habilita_acceso_rf_combo' title='${lbl:b_enables_access_control}' align='left' />
			<col name='psl_id_control_acceso' title='${lbl:b_id_access_control}' align='left' />
			<col name='psl_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
		</record>

	</pdf-report>
</config>