<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntransaccionesmanuales.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_manual_transactions}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_manual_transactions}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smntransaccionesmanuales.sql' width='100' spacingBefore='40'>
			<col name='trm_sede' title='${lbl:b_subsidiary} ' width='14' align='left' />
			<col name='trm_identificacion' title='${lbl:b_indentification} ' width='14' align='left' />
			<col name='trm_tipo_marcaje_combo' title='${lbl:b_check_type}' width='14' align='left' />
			<col name='trm_jutificacion' title='${lbl:b_justification}' width='14' align='left' />
			<col name='trm_fecha_transaccion' title='${lbl:b_transaction_date}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='trm_hora_transaccion' title='${lbl:b_transaction_time}' width='14' align='left' />
			<col name='trm_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
