<!--data grid-->
<table class="datagrid rowhover oneCellRow" style="width:90%;">

	<col width='100%'/>


	<!--toolbar-->
	<tr>
		<th colspan="2">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th onclick="sortBy('esp_codigo','query-smnespecialidad.sql')" class="sortable" >${lbl:b_code}</th>
		<th onclick="sortBy('esp_descripcion','query-smnespecialidad.sql')" class="sortable" >${lbl:b_description}</th>
	</tr>

	<!--data-->
	<rows>
	<tr onclick="selectItem('${fld:smn_especialidad_id}')" >
		<td style="font-size: 9pt;" align="center"><span id="${fld:smn_especialidad_id}">${fld:esp_codigo}</span></td>
		<td style="font-size: 9pt;" align="center">${fld:esp_descripcion}</td>
	</tr>
	</rows>

</table>