<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_attendance}"/>
	
	<excel 
		recordset='query.sql' 
		sheetname='${lbl:b_attendance}' 
		filename='${lbl:b_attendance}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_plan_asistencia_id' label='${lbl:b_plan_asistency}' />
		<col id='psl_id_control_acceso' label='${lbl:b_personal}' />
		<col id='asi_fecha_evento' label='${lbl:b_event_date}' />
		<col id='asi_dia_evento' label='${lbl:b_event_day}' />
		<col id='asi_turno_rf' label='${lbl:b_turno}' />
		<col id='asi_esquema_rotacion_rf' label='${lbl:b_rotation_scheme}' />
		<col id='asi_tipo_marcaje' label='${lbl:b_check_type}' />
		<col id='asi_hora_tope_evento' label='${lbl:b_hora_tope}' />
		<col id='asi_estatus_permiso_rf' label='${lbl:b_permission_status}' />
		<col id='asi_estatus_asistencia_rf' label='${lbl:b_assistance_status}' />
		<col id='asi_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
