<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpermisossoporte.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnpermisossoporte.sql' sheetname='${lbl:b_load_permission_file}' filename='soporte.xls'>
		<col id='smn_solicitud_permisos_id' label='${lbl:b_requests_permissions}' />
		<col id='smn_persona_rf_combo' label='${lbl:b_personal}' />
		<col id='pma_description' label='${lbl:b_description}' />
		<col id='pma_imagen_size' label='${lbl:b_image_data}' />
		<col id='filename' label='${lbl:b_filename}' />
		<col id='content_type' label='${lbl:b_type_content}' />
		<col id='pma_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>