<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width="3%"/>
	<col width="3%"/>
	<col width="3%"/>
	<col width="3%"/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>

	<!--toolbar-->
	<tr>
		<th colspan="14" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th colspan="4"></th>
		<th class='sortable' onclick="sortBy('smn_justificaciones_id','query-smnjustificacionessoporte.sql')" >${lbl:b_justification}</th>
		<th class='sortable' onclick="sortBy('smn_personal_rf_combo','query-smnjustificacionessoporte.sql')" >${lbl:b_personal}</th>
		<th class='sortable' onclick="sortBy('jsa_description','query-smnjustificacionessoporte.sql')" >${lbl:b_description}</th>
		<th class='sortable' onclick="sortBy('jsa_imagen_size','query-smnjustificacionessoporte.sql')" >${lbl:b_image_data}</th>
		<th class='sortable' onclick="sortBy('filename','query-smnjustificacionessoporte.sql')" >${lbl:b_filename}</th>
		<th class='sortable' onclick="sortBy('content_type','query-smnjustificacionessoporte.sql')" >${lbl:b_type_content}</th>
		<th class='sortable' onclick="sortBy('jsa_fecha_registro','query-smnjustificacionessoporte.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/download.png" onclick="downloadBlob('${fld:smn_justificaciones_soporte_id}')" title="Descargar" ></td>
		<td><img src="${def:context}/images/search.png" onclick="getImage('${fld:smn_justificaciones_soporte_id}', '${fld:content_type}')" title="Ver documento" ></td>
		<td><img src="${def:context}/images/delete.png" onclick="deleteRecord('${fld:smn_justificaciones_soporte_id}')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png" onclick="edit('${fld:smn_justificaciones_soporte_id}')" title="Editar"></td>
		<td align="center">${fld:smn_justificaciones_id}</td>
		<td>${fld:smn_personal_rf_combo}</td>
		<td align="right">${fld:jsa_description}</td>
		<td align="center">${fld:jsa_imagen_size}</td>
		<td align="left">${fld:filename}</td>
		<td align="left">${fld:content_type}</td>
		<td align="center">${fld:jsa_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>