<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndispositivos-template.sql" source="sql" scope="transaction" />
		<recordset id='query-smnareasservicios.sql' source='sql' scope='transaction' />
		<recordset id='query-smnentidades.sql' source='sql' scope='transaction' />
		<recordset id='query-smnsucursales.sql' source='sql' scope='transaction' />
		<recordset id='query-smnunidadesservicios.sql' source='sql' scope='transaction' />
		<recordset id='query-distipodispositivo.sql' source='sql' scope='transaction' />
	</transaction>

	<output>
		<classname>domain.repgen.smn_acceso.smn_dispositivos.ExcelReportOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_device}.xls'
		header-background='true' >
		
	<sheet recordset="query-smndispositivos-template.sql" sheetname="${lbl:b_device}">
		
		<col id='dis_codigo' label='${lbl:b_code}*' />
		<col id='dis_nombre' label='${lbl:b_name}*' />
		<col id='dis_empresa' label='${lbl:b_entity}*' />
		<col id='dis_sucursal' label='${lbl:b_subsidiary}' />
		<col id='dis_area_servicio' label='${lbl:b_service_area}' />
		<col id='dis_unidad_servicio' label='${lbl:b_service_unit}' />
		<col id='dis_tipo_dispositivo_combo' label='${lbl:b_device_type}*' />
		<col id='dis_serial' label='${lbl:b_serial}*' />
		<col id='dis_ip_address' label='${lbl:b_direccion_ip}*' />
		
		<col id='dis_empresa_reference' label='${lbl:b_entity}*' />
		<col id='dis_sucursal_reference' label='${lbl:b_subsidiary}' />
		<col id='dis_area_servicio_reference' label='${lbl:b_service_area}' />
		<col id='dis_unidad_servicio_reference' label='${lbl:b_service_unit}' />
		<col id='dis_tipo_dispositivo_combo_reference' label='${lbl:b_device_type}*' />

	</sheet>
	
	<sheet recordset='query-smnentidades.sql' sheetname='${lbl:b_entity}'>
		<col id='ent_descripcion_corta' label='${lbl:b_description}' />
	</sheet>

	<sheet recordset='query-smnsucursales.sql' sheetname='${lbl:b_subsidiary}'>
		<col id='suc_nombre' label='${lbl:b_name}' />
	</sheet>
	
	<sheet recordset='query-smnareasservicios.sql' sheetname='${lbl:b_service_area}'>
		<col id='ase_descripcion' label='${lbl:b_description}' />
	</sheet>

	<sheet recordset='query-smnunidadesservicios.sql' sheetname='${lbl:b_service_unit}'>
		<col id='uns_descripcion' label='${lbl:b_description}' />
	</sheet>

	<sheet recordset='query-distipodispositivo.sql' sheetname='${lbl:b_device_type}'>
		<col id='tipo_dispositivo' label='${lbl:b_device_type}' />
	</sheet>
	
	<sheet recordset='query-distipodispositivo.sql' sheetname='${lbl:b_device_type}'>
		<col id='tipo_dispositivo' label='${lbl:b_device_type}' />
	</sheet>
	
	</excel>

</config>
