<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnsolicitudpermisos.sql" />
	<set-request-attribute id="paging.pagesize" value="6" />

	<transaction>
		<classname>dinamica.GenericSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>spe_detalles;spe_fecha_desde;spe_fecha_hasta;spe_nro_horas;spe_aprobado_por;spe_archivo;spe_contenido;spe_tamano;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
