<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta usando un modulo de motor
		de búsqueda y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<transaction>
		<classname>domain.repgen.RepGen</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>fdesde;fhasta;psl_area_servicio_filter;psl_auxiliar_filter;psl_cargo_filter;psl_centro_costo_filter;psl_empresa_filter;psl_estructura_organiz_filter;psl_habilita_acceso_filter;psl_sucursal_filter;psl_unidad_servicio_filter;</searchCols>
	
	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
