<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntransacciones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smntransacciones.sql' sheetname='${lbl:b_transactions}' filename='filter_full.xls'>
		<col id='trn_sede' label='${lbl:b_subsidiary} ' />
		<col id='trn_dispositivo' label='${lbl:b_device_code}' />
		<col id='trn_identificacion' label='${lbl:b_indentification} ' />
		<col id='trn_marcaje' label='${lbl:b_check}' />
		<col id='trn_tipo_marcaje_combo' label='${lbl:b_check_type}' />
		<col id='trn_fecha_transaccion' label='${lbl:b_transaction_date}' />
		<col id='trn_hora_transaccion' label='${lbl:b_transaction_time}' />
		<col id='trn_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>