<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='33%'/>
	<col width='33%'/>
	<col width='33%'/>

	<!--toolbar-->
	<tr>
		<th colspan="3">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("tur_codigo","query-smnturnos.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("tur_nombre","query-smnturnos.sql")'>${lbl:b_name} </th>
		<th class='sortable' onclick='sortBy("tur_fecha_registro","query-smnturnos.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:tur_codigo}</td>
		<td align='left'>${fld:tur_nombre}</td>
		<td>${fld:tur_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
