<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpersonal.sql" source="session" scope="transaction" />
		<recordset id='query-smnvauxiliar.sql' source='sql' scope='transaction' />
	<recordset id='query-smnclaseauxiliar.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_personal}.xls'
		header-background='true' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_personal}">
				<col id='psl_num_control' label='${lbl:b_number_of_control}' />
		<col id='psl_clase_auxiliar_combo' label='${lbl:b_auxiliary_class}' />
		<col id='psl_auxiliar_combo' label='${lbl:b_auxiliary}' />
		<col id='psl_habilita_acceso_combo' label='${lbl:b_enables_access_control}' />
		<col id='psl_id_control_acceso' label='${lbl:b_id_access_control}' />
		<col id='psl_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
		<sheet recordset='query-smnvauxiliar.sql' sheetname=''>
		<col id='smn_item' label='${lbl:}' />
	</sheet>

	<sheet recordset='query-smnclaseauxiliar.sql' sheetname=''>
		<col id='cla_nombre' label='${lbl:b_name}' />
	</sheet>


	</excel>

</config>
