<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntransacciones.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_transactions}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_transactions}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<!-- <col name='smn_auxilir' title='${lbl:b_personal} '  align='left' /> -->
					<!-- <col name='smn_auxilir' title='${lbl:b_personal} '  align='left' /> -->
							<!-- <col name='smn_auxilir' title='${lbl:b_personal} '  align='left' /> -->
			<col name='trn_identificacion' title='${lbl:b_indentification} '  align='left' />
			<col name='trn_fecha_transaccion_ini' title='${lbl:b_transaction_date_grater_than}'  format='dd-MM-yyyy' align='left' />
			<col name='trn_fecha_transaccion_fin' title='${lbl:b_transaction_date_less_than}'  format='dd-MM-yyyy' align='left' />
			<col name='trn_hora_transaccion_ini' title='${lbl:b_transaction_time_grater_than}'  align='left' />
			<col name='trn_hora_transaccion_fin' title='${lbl:b_transaction_time_less_than}'  align='left' />
			<!-- <col name='trn_fecha_registro_ini' title='${lbl:b_store_date_grater_than}'  format='dd-MM-yyyy' align='left' /> -->
			<!-- <col name='trn_fecha_registro_fin' title='${lbl:b_store_date_less_than}'  format='dd-MM-yyyy' align='left' /> -->

		</record>
		<record recordset='query-smntransacciones.sql' width='100' spacingBefore='10'>
			<col name='personal' title='${lbl:b_personal} ' width='12' align='left' />
			<col name='trn_dispositivo' title='${lbl:b_device_code}' width='12' align='left' />
			<col name='trn_identificacion' title='${lbl:b_indentification} ' width='12' align='left' />
			<col name='trn_tipo_marcaje_combo' title='${lbl:b_check_type}' width='12' align='left' />
			<col name='trn_fecha_transaccion' title='${lbl:b_transaction_date}' width='12' align='left' format='dd-MM-yyyy' />
			<col name='trn_hora_transaccion' title='${lbl:b_transaction_time}' width='12' align='left' />
			<col name='trn_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
