<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnjustificaciones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnjustificaciones.sql' sheetname='${lbl:b_justifications}' filename='smn_justificaciones.xls'>
		<col id='smn_personal_id_combo' label='${lbl:b_personal}' />
		<col id='jus_descripcion' label='${lbl:b_description}' />
		<col id='jus_fecha_incidencia' label='${lbl:b_incidence_date}' />
		<col id='jus_hora_incidencia' label='${lbl:b_time_incident}' />
		<col id='jus_tiempo_a_justificar' label='${lbl:b_time_to_justify}' />
		<col id='jus_aprobado_por' label='${lbl:b_approved_by}' />
		<col id='jus_archivo' label='${lbl:b_file}' />
		<col id='jus_contenido' label='${lbl:b_content}' />
		<col id='jus_tamano' label='${lbl:b_size}' />
		<col id='jus_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>