<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpersonal.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnpersonal.sql' sheetname='${lbl:b_personal}' filename='filter.xls'>
		<col id='psl_num_control' label='${lbl:b_number_of_control}' />
		<col id='psl_clase_auxiliar_combo' label='${lbl:b_auxiliary_class}' />
		<col id='psl_auxiliar_combo' label='${lbl:b_auxiliary}' />
		<col id='psl_empresa_combo' label='${lbl:b_entity}' />
		<col id='psl_sucursal_combo' label='${lbl:b_subsidiary}' />
		<col id='psl_area_servicio_combo' label='${lbl:b_service_area}' />
		<col id='psl_unidad_servicio_combo' label='${lbl:b_service_unit}' />
		<col id='psl_centro_costo_combo' label='${lbl:b_cost_centers}' />
		<col id='psl_estructura_organiz_combo' label='${lbl:b_organizational_structure}' />
		<col id='psl_cargo_combo' label='${lbl:b_positions}' />
		<col id='psl_categoria_cargo_combo' label='${lbl:b_position_category}' />
		<col id='psl_habilita_acceso_combo' label='${lbl:b_enables_access_control}' />
		<col id='psl_id_control_acceso' label='${lbl:b_id_access_control}' />
		<col id='psl_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>