<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>

	<!--toolbar-->
	<tr>
		<th colspan="10">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('trn_sede','query-smntransacciones.sql')" >${lbl:b_subsidiary} </th>
		<th class='sortable' onclick="sortBy('trn_dispositivo','query-smntransacciones.sql')" >${lbl:b_device_code}</th>
		<th class='sortable' onclick="sortBy('trn_identificacion','query-smntransacciones.sql')" >${lbl:b_indentification} </th>
		<th class='sortable' onclick="sortBy('trn_tipo_marcaje_combo','query-smntransacciones.sql')" >${lbl:b_check_type}</th>
		<th class='sortable' onclick="sortBy('trn_fecha_transaccion','query-smntransacciones.sql')" >${lbl:b_transaction_date}</th>
		<th class='sortable' onclick="sortBy('trn_hora_transaccion','query-smntransacciones.sql')" >${lbl:b_transaction_time}</th>
		<th class='sortable' onclick="sortBy('trn_fecha_registro','query-smntransacciones.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_transacciones_id}')" title="Ver detalle"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_transacciones_id}')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_transacciones_id}')" title="Editar"></td>
		<td align="left">${fld:trn_sede}</td>
		<td align="left">${fld:trn_dispositivo}</td>
		<td align="left">${fld:trn_identificacion}</td>
		<td align="left">${fld:trn_tipo_marcaje_combo}</td>
		<td align="center">${fld:trn_fecha_transaccion@dd-MM-yyyy}</td>
		<td align="center">${fld:trn_hora_transaccion}</td>
		<td align="center">${fld:trn_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
