<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_personal}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-psl_grupo.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_clase_auxiliar.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_auxiliar.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_empresa.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_sucursal.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_area_servicio.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_unidad_servicio.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_centro_costo.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_estructura_organiz.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_cargo.sql' source='sql' scope='transaction'/>
		<recordset id='query-psl_categoria_cargo.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-psl_grupo.sql' tag='psl_grupo_rows'/>
		<print mode='table' recordset='query-psl_clase_auxiliar.sql' tag='psl_clase_auxiliar_rows'/>
		<print mode='table' recordset='query-psl_auxiliar.sql' tag='psl_auxiliar_rows'/>
		<print mode='table' recordset='query-psl_empresa.sql' tag='psl_empresa_rows'/>
		<print mode='table' recordset='query-psl_sucursal.sql' tag='psl_sucursal_rows'/>
		<print mode='table' recordset='query-psl_area_servicio.sql' tag='psl_area_servicio_rows'/>
		<print mode='table' recordset='query-psl_unidad_servicio.sql' tag='psl_unidad_servicio_rows'/>
		<print mode='table' recordset='query-psl_centro_costo.sql' tag='psl_centro_costo_rows'/>
		<print mode='table' recordset='query-psl_estructura_organiz.sql' tag='psl_estructura_organiz_rows'/>
		<print mode='table' recordset='query-psl_cargo.sql' tag='psl_cargo_rows'/>
		<print mode='table' recordset='query-psl_categoria_cargo.sql' tag='psl_categoria_cargo_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
