<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_marking_movement}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='query.sql' title='${lbl:b_marking_movement}' width='60' spacingBefore='40'>
			<col name='mrk_auxiliar_combo' title='${lbl:b_auxiliary}' width='5' align='left' format='######' />
			<col name='mrk_clase_auxiliar_combo' title='${lbl:b_auxiliary_class}' width='5' align='left' format='######' />
			<col name='mrk_control_acceso_id' title='${lbl:b_id_access_control}' width='5' align='left' />
			<col name='mrk_empresa_combo' title='${lbl:b_entity}' width='5' align='left' format='######' />
			<col name='mrk_sucursal_combo' title='${lbl:b_subsidiary}' width='5' align='left' format='######' />
			<col name='mrk_area_servicio_combo' title='${lbl:b_service_area}' width='5' align='left' format='######' />
			<col name='mrk_unidad_servicio_combo' title='${lbl:b_service_unit}' width='5' align='left' format='######' />
			<col name='mrk_centro_costo_combo' title='${lbl:b_cost_centers}' width='5' align='left' format='######' />
			<col name='mrk_cargo_combo' title='${lbl:b_positions}' width='5' align='left' format='######' />
			<col name='mrk_categoria_cargo_combo' title='${lbl:b_position_category}' width='5' align='left' format='######' />
			<col name='mrk_marcaje_id' title='${lbl:b_check}' width='5' align='left' />
			<col name='mrk_dispositivo_codigo' title='${lbl:b_device}' width='5' align='left' />
			<col name='mrk_marcaje_fecha' title='${lbl:b_transaction_date}' width='5' align='left' format='dd-MM-yyyy' />
			<col name='mrk_marcaje_hora' title='${lbl:b_transaction_time}' width='5' align='left' />
			<col name='mrk_marcaje_dia_combo' title='${lbl:b_day_name}' width='5' align='left' />
			<col name='mrk_marcaje_tipo_combo' title='${lbl:b_device_type}' width='5' align='left' />
			<col name='mrk_tiempo_efectivo' title='${lbl:b_effective_time}' width='5' align='left' format='#,###,##0.00' />
			<col name='mrk_turno' title='${lbl:b_turno}' width='5' align='left' format='######' />
			<col name='mrk_consecutivo' title='${lbl:b_consecutivo} ' width='5' align='left' />
			<col name='mrk_fecha_registro' title='${lbl:b_store_date}' width='5' align='left' format='dd-MM-yyyy' />
		</record>

	</pdf-report>
</config>